.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.card h5 {
    margin-top: 10px;
    font-size: 15.5px;
}

/* Popup Message */
.cutomizeButton {
    display: flex;
    gap: 5px;
    padding-top: 8px;
    height: 25px;
    justify-content: start;
    align-items: center;
    user-select: none;
    font-size: 14.5px;
    color: rgb(91, 91, 91);
    cursor: pointer;
    transition: 0.05s ease-in;

}

.cutomizeButton:hover {
    color: rgb(0, 0, 0);
    transition: 0.05s ease-in;

}

.cutomizeButton:active {
    transform: scale(0.95);
    transition: 0.2s ease-in-out;
}

.moreInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding-top: 5px;
    user-select: none;
}

.weightLabel {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
    user-select: none;
    font-size: 14.5px;
    font-weight: 400;
    color: rgb(67, 67, 67);
    transition: 0.05s ease-in;
}

#infoIcon {
    font-size: 18px;
    color: rgb(62, 62, 62);
    margin-right: 10px;
    transition: 0.2s ease-in-out;
    z-index: 100;

}

#infoIcon:hover {
    color: #ff9d00;
    transition: 0.2s ease-in-out;
}

#infoIcon:active {
    transform: scale(0.90);
    transition: 0.2s ease-in-out;
}

.infoPanel {
    display: flex;
    position: absolute;
    /* background-color: var(--background); */
    height: 200px;
    width: 100%;   
    z-index: 90;
    padding: 10px 8px;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}


.infoPanel p {
    font-size: 15px;
    text-align: center;
}


.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100dvh;
    height: 100vh;
}

.messagePopup {
    position: relative;
    background-color: var(--background);
    width: clamp(200px, 80vw, 450px);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.popupContent {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 5px;
    overflow: hidden;
}

.popupImage {
    margin: auto;
    margin-top: -60px;
    margin-bottom: -30px;

}

.popupContent h4 {
    font-size: 20px;
    font-weight: 600;
}

.popupContent p {
    font-size: 15px;
    font-weight: 400;
    color: rgb(68, 68, 68);
}

.messageInput {
    margin-top: 10px;
    background-color: rgb(233, 233, 233);
    padding: 10px 18px;
    border-radius: 8px;
    height: 80px;
    vertical-align: top;
    resize: none;
    transition: 0.2s ease-in;
    border: none;
    outline: none;
}

.messageInput:hover {
    border: 1px solid rgb(173, 173, 173);
    transition: 0.2s ease-in;
}

.messageInput:focus {
    border: 1px solid rgb(42, 42, 42);
    transition: 0.2s ease-in;
}

.countCakes {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.countCakes label {
    font-size: 15px;
    color: rgb(49, 49, 49);
}

.countCakes select {
    border: 1px solid rgb(173, 173, 173);
    outline: none;
    width: 60px;
    padding: 1px 10px;
    border-radius: 6px;
    transition: 0.15s ease-in;
}

.countCakes select:hover {
    border: 1px solid rgb(52, 52, 52);
    transition: 0.15s ease-in;
}

.popupButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.popupSave {
    background-color: #eea039;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    width: 100%;
}

.popupCancel:hover {
    background-color: #dbdbdb;
    transition: 0.15s ease-in-out;
}

.popupCancel:active {
    transform: scale(0.95);
    transition: 0.15s ease-in-out;
}

.popupCancel {
    background-color: rgb(233, 233, 233);
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(24, 24, 24);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    width: 100%;
}

.popupSave:hover {
    background-color: #e03636;
    transition: 0.15s ease-in-out;
}

.popupSave:active {
    transform: scale(0.95);
    transition: 0.2s ease-in;
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    user-select: none;
}

.tag h4 {
    font-weight: 500;
    font-size: 17px;
}

.addButton {
    background-color: #eea039;
    padding: 8px 30px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.addButton:hover {
    background-color: #f72f2f;
}

.addButton:active {
    transform: scale(0.95);
    transition: 0.2s ease-in;
}

.container {
    display: flex;
    gap: 10px;
    margin-bottom: 3px;
}

.counter {
    color: white;
    background-color: #3f3f3f;
    font-weight: 600;
    height: 35px;
    padding: 5px 5px;
    width: 35px;
    border-radius: 6px;
}

.button {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.message {
    display: flex;
    gap: 5px;
    margin-top: 6px;
    margin-bottom: -5px;
    justify-content: start;
    align-items: center;
    user-select: none;
    font-size: 14.5px;
    color: rgb(113, 113, 113);
    cursor: pointer;
}



/* Responsive styles */
@media (max-width: 600px) {
    .card h5 {
        font-size: 13px;
    }

    .tag h4 {
        font-size: 16px;
    }

    .addButton {
        padding: 8px 28px;
        font-size: 12.5px;
    }

    .container {
        padding-right: 5px;
    }

    .button {
        font-size: 18px;
    }


    .cutomizeButton {
        font-size: 13px;
    }

    .weightLabel {
        font-size: 13px;
    }

    #infoIcon:hover {
        color: rgb(62, 62, 62);
    }

    .infoPanel {
        height: 160px;
        padding: 0px 7px;
        box-sizing: border-box;
    }


    .infoPanel p {
        font-size: 12px;
        text-align: center;
    }


    .closeButton {
        top: 15px;
        right: 20px;
        font-size: 18px;
    }


    .popupImage {
        margin: auto;
        margin-top: -30px;
        margin-bottom: -20px;

    }

    .popupContent h4 {
        font-size: 19px;
        font-weight: 600;
    }

    .popupContent p {
        font-size: 14px;
        font-weight: 400;
        color: rgb(78, 78, 78);
    }

    .messageInput {
        font-size: 14px;
    }


    .popupButtons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .popupSave,
    .popupCancel {
        font-size: 14px;
    }


}