
.banner{
    background: linear-gradient(45deg, #d45959, #e13636, #c60000);
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(25px,5%, 30px);
    border-radius: 20px;
    padding-left: 10px;
    margin: 5px 0;
    transition: 0.4s ease-in-out;
    
}

.banner p{
    width: clamp(150px, 35vw, 455px);
    color: white;
}

.banner:hover{
    gap: clamp(25px,5%, 60px);
    transition: 0.4s ease-in-out;

}

@media (max-width: 1080px) {

    .banner{
        flex-direction: column;
        gap: 5px;
        padding: 0;
    }

    .bannerImage{
        margin-top: 5px;
        height: 40px;
        width: auto;
    }
    .banner p{
        width: 400px;
        text-align: center;
        font-size: 14px;
    }
}



@media (max-width: 600px) {

    .banner{
        flex-direction: column;
        gap: 6px;
        border-radius: 15px;
        height: 125px;
    }

    .bannerImage{
        margin-top: 6px;
        height: 28px;
        width: auto;
    }
    .banner p{
        width: 300px;
        text-align: center;
        font-size: 12px;
    }
}