@import "tailwindcss";

:root {
  --background: #F5F3F0;
  --foreground: #515151;
  --border-gray: #979797;
  --primary-color: #FF5A5A;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F3F0;
}

.primaryButton{
  margin: 30px 30px;
  padding: 10px 20px;
  background-color: #FF5A5A;
  color: white;
  border-radius: 8px;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
