.element {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.element::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}


.container {
    display: flex;
    flex-direction: column;
    margin: 22px 8%;
    gap: 10px;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 6px;
    z-index: 10;
}

.logo {
    height: 50px;
    width: auto;
}

.navLinks {
    display: flex;
    gap: 50px;
    align-items: center;
    font-weight: 500;
    color: var(--foreground);
}

.ham_icon:active {
    transform: scale(0.96);
    transition: 0.15s ease-in-out;
}

.navLinkText {
    display: flex;
    gap: 50px;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    color: var(--foreground);
    transition: 0.15s ease-in-out;
}

.navLinkText a {
    transition: 0.15s ease-in-out;
}

.navLinkText a:hover {
    transform: translateY(-2px);
    transition: 0.15s ease-in-out;
}

.navLinkText a:active {
    transform: scale(0.96);
    transition: 0.15s ease-in-out;
}

/* Banner */
.banner {
    margin-top: 10px;
    height: 150px;
    width: 100%;
    padding: 0;
    transform: scale(1.01);

}

/* Content */
.content {
    display: flex;
    gap: 30px;
}

.leftPane {
    width: 75%;
    overflow: hidden;
}

/* Date Slider */
.dateSlider {
    width: 100%;
}


/* Categories */
.category {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    user-select: none;

}

.categoryItem {
    padding: 10px 20px;
    padding-top: 13px;
    border: 1px solid var(--border-gray);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 5px;
    width: clamp(120px, 10vw, 140px);
    flex-wrap: wrap;
    transition: 0.15s ease-in;
}

.categoryItem:hover {
    border: 1px solid rgb(0, 0, 0);
    translate: 0 -2px;
    transition: 0.15s ease-in;
    cursor: pointer;
}

.categoryItem:hover .categoryIcons {
    transform: translate(0, -3px);
    transition: 0.3s ease-in-out;
}

.categoryItem:active .categoryIcons {
    transform: scale(0.96);
    transition: 0.15s ease-in-out;

}

.categoryIcons {
    width: auto;
    height: 32px;
    transition: 0.3s ease-in-out;
}

.categoryItem h5 {
    font-size: 12px;
}

.activeCate {
    color: white;
    background-color: #FF5A5A;
    transition: 0.1s ease-in;
    border: none;
    transform: scale(1.01);
}

.activeCate:hover {
    translate: 0 0px;
    border: none;
    cursor: default;

}

.floatingCategory,
.floatingIcon {
    display: none;

}

/* Item Container */

.itemContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-items: start;
    gap: clamp(10px, 2vw, 40px);
    row-gap: 25px;
    width: 100%;
}

/* Right Pane */

.rightPane {
    width: 240px;
    min-width: 230px;
    margin-left: 20px;
    overflow: hidden;
}

.cart h2 {
    border-bottom: 1px solid rgb(114, 114, 114);
    font-size: 1.25rem;
    padding-bottom: 11px;
    padding-top: 5px;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(114, 114, 114);
    font-size: 14.5px;
}

.item {
    display: flex;
    gap: 5px;
}

.cart h4 {
    color: rgb(57, 57, 57);
}

.checkoutButton {
    background-color: #FF5A5A;
    padding: 8px 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.checkoutButton:active {
    transform: scale(0.95);
    transition: 0.2s ease-in;
}

.adBanner {
    margin-top: 20px;
    transform: scale(1.1);
}

.bottomPane {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    font-size: 14px;
    padding: 0 8%;
    box-shadow: 0px -0px 15px 2px rgba(34, 34, 34, 0.287);
}


.bottomPaneText {
    margin-bottom: -2px;
}

.checkoutButtonMobile {
    background-color: #FF5A5A;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 110px;
}

.checkoutButtonMobile:active {
    transform: scale(0.95);
    transition: 0.2s ease-in;
}

@media (max-width: 1080px) {

    /* Styles for tablets and smaller (including phones) */
    .searchSort {
        width: 100%;
        display: flex;
        gap: 15px;
        height: 45px;
        align-items: center;
    }

    .rightPane {
        display: none;
    }

    .leftPane {
        width: 100%;
    }

    .bottomPane {
        display: flex;
    }



}





@media (max-width: 700px) {


    .container {
        padding-top: 55px;
        justify-content: center;
        margin: 15px 4%;
        gap: 10px;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-shadow: 0px -0px 15px 2px rgba(34, 34, 34, 0.287);
        background-color: white;
        padding: 0 4%;
        padding-right: 5%;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
    }

    .logo {
        height: 40px;
        width: auto;
    }

    .navLinkText {
        display: none;
    }


    .dateSlider {
        width: 100%;
    }


    .category {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 0px;
        margin-bottom: -15px;
        flex-wrap: nowrap;
        user-select: none;
        overflow-x: auto;
        overflow-y: hidden;
        height: 120px;
        background-color: var(--background);
    }

    .category::-webkit-scrollbar {
        display: none;
    }

    .categoryItem {
        height: 85px;
        padding: 10px 0px;
        padding-top: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        gap: 5px;
        width: clamp(80px, 24vw, 111px);
        flex-shrink: 0;
    }


    .categoryIcons {
        width: auto;
        height: 32px;
    }

    .categoryItem h5 {
        font-size: 12px;
    }

    /* .itemContainer {
        transform: scale(0.8);
        transform-origin: top left;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(2, 212px);
        gap: 18px;
        row-gap: 25px;
        width: 100%;

    } */
    .itemContainer {
        margin-top: 20px;
        width: 100%;
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }

    .floatingMenuOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 500;
        height: 100dvh;
        height: 100vh;
    }

    .floatingIcon {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 65px;
        right: 30px;
        justify-content: center;
        align-items: center;
        padding: 13px 17px;
        padding-top: 14px;
        border-radius: 50px;
        background-color: rgb(62, 62, 62);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        z-index: 502;
    }

    .floatingIcon h4 {
        font-size: 10px;
        color: white;
    }

    .floatingCategory {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 40px;
        right: 30px;
        z-index: 501;
    }

    .floatingMenu {
        position: relative;
        bottom: 90px;
        right: 15px;
        display: flex;
        flex-direction: column;
        background-color: rgb(234, 234, 234);
        border-radius: 8px;
        padding: 25px 30px;
        padding-right: 80px;
        color: rgb(105, 105, 105);
        font-size: 14px;
        font-weight: 400;
        gap: 15px;
        transition: 0.2s ease-in-out;
        z-index: 504;
    }

    .activeFloatCate {
        color: rgb(21, 21, 21);
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(21, 21, 21);
        padding-left: 2px;
        ;
        transition: 0.2s ease-in-out;
    }




}